/**Navigation**/
ul { 
	list-style-type: none;
 }

ul.navigation {
	list-style-type: none;
	height: 42px;
	width: 100%;
	background-color: #191919;
	margin-left: -10px;
	margin-top: -9px;
}

.navigation li {
	color: #84B3CB;
	float: left;
	margin-right: 6%;
	font-size: .85em;
	font-family: Raleway, sans-serif;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #191919;
    min-width: 150px;
    padding: 12px 5px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
	float: none;
	font-size: 1em;
}

.logo {
	float: left;
	width: 62%;
	margin-top: 12px; 
}

.nav {
	float: right;
	width: 38%;
	margin-top: 12px;
}

.navigation a { 
	text-decoration: none;
	color: #84B3CB;
}

.navigation a:hover {
	color: #E9B3CB;
}

/*Search*/
.container {
	width: 20%;
	padding-top: 50px;
}

input {
	border: 1px solid grey;
}

.search {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

select {
	border: 1px solid grey;
	margin-top: 3px;
	width: 78%;
}

.submit {
	background-color: #FE5658;
	border: none;
	padding: 1px 5px;
	margin-left: -5px;
	color: #fff;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}

@supports (-webkit-appearance:none) {
    .submit {
        padding: 2.27px 5px;
        padding-bottom: 2.2px;
    }
}  