/**Navigation**/
ul { 
	list-style-type: none;
 }

ul.navigation {
	list-style-type: none;
	height: 41px;
	width: 100% !important;
	background-color: #191919;
	position: absolute;
	left: 0px;
	top: -17px;
}

.navigation li {
	color: #84B3CB;
	float: left;
	margin-right: 6%;
	font-size: .85em;
	font-family: Raleway, sans-serif;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #191919;
    min-width: 150px;
    padding: 12px 5px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
	float: none;
	font-size: 1em;
}

.logo {
	float: left;
	width: 62%;
	margin-top: 12px; 
}

.nav {
	float: right;
	width: 38%;
	margin-top: 12px;
}

.navigation a { 
	text-decoration: none;
	color: #84B3CB;
}

.navigation a:hover {
	color: #E9B3CB;
}

/**Buttons**/
.container {
	margin-top: 75px;
}

.button {
  display: inline-block;
  background-color: #FF534B;
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 15px;
  padding: 15px 20px;
}

button.button {
	border-style: none;
}

a.button {
	text-decoration: none;
}

.button-sm {
	border-radius: 10px;
	padding: 5px 10px;
	font-size: 12px;
}

.button-md {
	padding: 10px 15px;
	font-size: 14px;
}

.button-lg {
	padding: 20px 25px;
	font-size: 18px;
}

.button:hover {
	background-color: #FF7979;
}

.button a:hover {
	background-color: #FF7979;
}

a:active {
	background-color: #83CFCF;
}
