/**Navigation**/
ul { 
	list-style-type: none;
 }

ul.navigation {
	list-style-type: none;
	height: 42px;
	width: 98.28%;
	background-color: #191919;
	margin-left: -10px;
	margin-top: -9px;
}

.navigation li {
	color: #84B3CB;
	float: left;
	margin-right: 6%;
	font-size: .85em;
	font-family: Raleway, sans-serif;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #191919;
    min-width: 150px;
    padding: 12px 5px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
	float: none;
	font-size: 1em;
}

.logo {
	float: left;
	width: 62%;
	margin-top: 12px; 
}

.nav {
	float: right;
	width: 38%;
	margin-top: 12px;
}

.navigation a { 
	text-decoration: none;
	color: #84B3CB;
}

.navigation a:hover {
	color: #E9B3CB;
}

/*Login*/
body {
	background-color: #6273B2;
}

.container {
	width: 40%;
	padding-top: 100px;
	margin: auto;
}

form {
	margin-top: 50px;
}

h1 {
	color: #fff;
	font-family: Roboto;
	font-weight: 700; 
	text-align: center;
}

input {
	width: 100%;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #BAAFA8;
	font-family: Roboto;
	font-size: 14px;
	background-color: #6273B2;
	margin: 15px 0 15px 0;
	color: #BAAFA8;
}

.check {
	float: left;
	margin-left: -245px;
	margin-right: -240px;
	font-family: Roboto;
	margin-top: 5px;
}	

span {
	font-family: Roboto;
	font-size: 12px;
	color: #BAAFA8;
}

.reset-pw {
	float: right;
	font-family: Roboto;
	font-size: 12px;
	margin-top: 2px;
}

a {
	color: #BAAFA8;
	text-decoration: none;
}

.submit {
	border: none;
	width: 100%;
	font-family: Roboto;
	font-weight: 500;
	font-size: 20px;
	background-color: #FFB099;
	padding: 15px 0 15px 0;
	color: #fff;
}


/*Validation*/
.invalid {
	color: red;
	border-bottom: 1px solid red;
}

.valid {
	color: #BAAFA8;
	border-bottom: 1px solid #BAAFA8;
}