/**Navigation**/
ul { 
	list-style-type: none;
 }

ul.navigation {
	list-style-type: none;
	height: 42px;
	width: 98.28%;
	background-color: #191919;
	margin-left: -10px;
	margin-top: -9px;
}

.navigation li {
	color: #84B3CB;
	float: left;
	margin-right: 6%;
	font-size: .85em;
	font-family: Raleway, sans-serif;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #191919;
    min-width: 150px;
    padding: 12px 5px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
	float: none;
	font-size: 1em;
}

.logo {
	float: left;
	width: 62%;
	margin-top: 12px; 
}

.nav {
	float: right;
	width: 38%;
	margin-top: 12px;
}

.navigation a { 
	text-decoration: none;
	color: #84B3CB;
}

.navigation a:hover {
	color: #E9B3CB;
}

/*Product*/
body {
	margin: 0;
	overflow-x: hidden;
}

* {

}

.container {
	width: 80%;
	margin: auto;
	margin-top: 75px;
	padding-bottom: 75px;
	font-family: Helvetica;
}

h1 {
	color: #77858C;
	text-align: center;
}

h4 {
	color: #77858C;
	line-height: 0;
}

h5 {
	font-weight: 100;
	font-size: 15px;
	line-height: 0;
}

.qty {
	font-family: Helvetica;
	font-weight: 100;
	font-size: 15px;
}

.add a, .checkout a {
	text-decoration: none;
	color: #84C0CB;
}

.product {
	width: 21.25%;
	margin-right: 5%;
	margin-bottom: 25px;
	float: left;
}

.row .product:last-child {
	margin-right: 0;
}

.img {
	width: 100%;
	height: 200px;
	background-color: #F6F6F6;
}

.box {
	float: left;
	margin-right: 10px;
	margin-left: -1px;
	width: 10%;
}

@supports (-webkit-appearance:none) {
    .box {
        border: 1px solid grey;
    }
} 

@supports (-webkit-appearance:none) {
    input {
        border: 1px solid grey;
    }
} 

.add {
	margin-top: 1px;
	float: right;
	position: relative;
	left: 0px;
	top: -5px;
}

.checkout {
	clear: both;
	padding-top: 50px;
}

.promo {
	float: left;
	color: #77858C;
}

.submit {
	background-color: #BA545D;
	color: #fff;
	border: none;
	padding: 1px 8px 2px 8px;
}

button.check {
	float: right;
	margin-top: -1px;
	margin-right: 10px; 
	background-color: #BA545D;
	padding: 8px 3px;
	border: none;
	color: #fff;
	font-size: 16px;
}

.items {
	margin-top: -1px;
	float: right;
	color: #BA545D;
}

.cart {
	float: right;
	color: #BA545D;
	margin-top: 8px;
}

/*Shopping cart*/

.hide {
	display: none;
}

.show {
	display: block;
	position: relative;
	margin-top: -2%;
	clear: both;
	background-color: #F6F6F6;
	padding: 0 10%;
	height: 30vh;
}

.checkout-btn {
	float: right;
	width: 10%;
	background-color: rgb(132, 192, 203);
	padding: 3px 0px;
	border: medium none;
	margin-top: 10px;
}