/**Navigation**/
ul { 
	list-style-type: none;
 }

ul.navigation {
	list-style-type: none;
	height: 42px;
	width: 98.28%;
	background-color: #191919;
	margin-left: -10px;
	margin-top: -9px;
}

.navigation li {
	color: #84B3CB;
	float: left;
	margin-right: 6%;
	font-size: .85em;
	font-family: Raleway, sans-serif;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #191919;
    min-width: 150px;
    padding: 12px 5px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
	float: none;
	font-size: 1em;
}

.logo {
	float: left;
	width: 62%;
	margin-top: 12px; 
}

.nav {
	float: right;
	width: 38%;
	margin-top: 12px;
}

.navigation a { 
	text-decoration: none;
	color: #84B3CB;
}

.navigation a:hover {
	color: #E9B3CB;
}

/**Form 1**/
.form {
	width: 50%;
}

.form1 {
}
 
input {
	color: #0e3e47;
	font-size: 14px;
	border-bottom: 2px solid #517278;
	padding: 5px 0 5px 0;
}

.fname {
	width: 30%;
	margin-right: 5%;
	float: left;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-top: 10px;
}



.lname {
	width: 30%;
	margin-right: 5%;
	float: left;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-top: 10px;
}

.dob {
	width: 30%;
	float: left;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-top: 5px;
}

@-moz-document url-prefix() {
    .dob {
        margin-top: 9px;
    }
}       

.first {
	width: 30%;
	margin-right: 5%;
	float: left;
}

.last {
	width: 30%;
	margin-right: 5%;
	float: left;
}

.bday {
	width: 30%;
	float: left;
}

label {
	color: #517278;
	font-family: sans-serif;
}

.email {
	width: 100%;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-top: 10px;
}


.password {
	width: 100%;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-top: 10px;
}


.submit {
	width: 100%;
	border: none;
	margin-top: 10px;
	padding: 15px 0 15px 0;
	background-color: #08272d;
	color: #fff;
	font-size: 18px;
}

input:hover {
	border: 2px solid #517278;
}

.fname:hover {
	width: 28%;

}

.lname:hover {
	width: 28%;
}

.dob:hover {
	width: 28%;
}

.submit:hover {
	border: none;
	padding: 18px 0;
}

/*Form validation*/
.invalid {
	color: red;
	border-bottom: 2px solid red;
}

.valid {
	color: #0e3e47;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-top: 10px;
}
